doctype html
h1 Trainspotter found something
p #[b From:] #{from}
p #[b to:] #{to}
p #[b normalExpectedStartTime:] #{normalExpectedStartTime}
p #[b expectedStartTime:] #{expectedStartTime}
p #[b errorMsg:] #{errorMsg}
p #[b trip:] #{trip}